.projects-container {
  height: 50vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  overflow-y: auto;
}

.project-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 20vw;
  border: 2px solid #FFF;
  margin-bottom: 2vh;
}

.projects-header {
  margin-top: 2vh;
  margin-bottom: 4vh;
  font-size: 3vh;
  font-weight: bold;
}

.logo-container {
  width: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 1vw;
}

.project-title {
  font-size: 2.5vh;
  margin-left: 1vw;
}

.github-logo,
.troubadour-logo {
  width: 2vw;
}