@import '../../styles/_reset';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #000;
  color: #FFF;
  font-size: 2.5vh;
}

.title {
  margin-left: 1vw;
}

.link-container {
  margin-right: 1vw;
}

.link-container > a {
  margin: 1vw;
}

a {
  text-decoration: none;
  color: #FFF;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FFF;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}